<div id="layoutSidenav_content">
  <main>
    <div class="container-fluid">
      <h1 class="mt-4">Posts</h1>
      <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Form New Post</a></li>
      </ol>
    </div>
    <div class="x_content">
      <%= render 'form', post: @post %>
    </div>
  </main>
</div>